body {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eaeaea;
}

.container {
    padding: 20px solid #cecece;
    border-radius: 5px;
}

.card {
    background-color: #cecece;
    padding: 5%;
    border-radius:10px;
}